<!--
  File Name: view.html
  Student Name: Michael Meissner
  Student Number: 200289381 
  App Description: A simple shopping list app
-->
<ion-header>

  <ion-navbar>
    <ion-title>View List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-item>
<ion-item>Name of List</ion-item>
<ion-input type="text" [(ngModel)]="list.name"></ion-input>
</ion-item>

<ion-list>
 <ion-row>
  <ion-item>Items</ion-item> 
  <ion-item>Quantity</ion-item> 
 </ion-row>
<ion-item>

<ion-input type="text" [(ngModel)]="list.item1"></ion-input>
<ion-input type="text" [(ngModel)]="list.quantity1"></ion-input>
</ion-item>
<ion-item>
<ion-input type="text" [(ngModel)]="list.item2"></ion-input>
<ion-input type="text" [(ngModel)]="list.quantity2"></ion-input>
</ion-item>

<ion-item>
<ion-input type="text" [(ngModel)]="list.item3"></ion-input>
<ion-input type="text" [(ngModel)]="list.quantity3"></ion-input>
</ion-item>

<ion-item>
<ion-input type="text" [(ngModel)]="list.item4"></ion-input>
<ion-input type="text" [(ngModel)]="list.quantity4"></ion-input>
</ion-item>

<ion-item>
<ion-input type="text" [(ngModel)]="list.item5"></ion-input>
<ion-input type="text" [(ngModel)]="list.quantity5"></ion-input>
</ion-item>

</ion-list>

<button ion-button navPop color="danger" (click)="deleteList(list)">Delete List</button>

</ion-content>
